
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<!DOCTYPE html>


<div class="container text-center">
    <h1 style="font-size: 48px">Home</h1>
    <img src="~/Images/FerryHome.jpg" style="width: 1080px"/>
</div>


