.toolbar {
    background-color: #FBEEC1;
    color: #8D8741;
}

.sideNavContainer {
    background-color: #659DBD;
}

.sidenav {
    background-color: white;
}

.sidenavitems {
    color: #8D8741;
}

body {
    background-color: #659DBD;
}