<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">


<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>JAJ Taxi</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-button [routerLink]="'/accounts'">
        <mat-icon>phone</mat-icon> Book Now
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sideNavContainer">
  <mat-sidenav #sidenav class="sidenav" style="width: 150px">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/create-contact'" class="sidenavitems"> Book Now </a>
      <a mat-list-item [routerLink]="'/contacts'" class="sidenavitems"> Pricing </a>
      <a mat-list-item [routerLink]="'/accounts'" class="sidenavitems"> About Us </a>
      <a mat-list-item [routerLink]="'/create-account'" class="sidenavitems"> Contact Us </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<body>

</body>


