<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<div class="card">
  <img
    src="https://images.pexels.com/photos/20081237/pexels-photo-20081237/free-photo-of-sunlight-over-ornamented-mosque-wall.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
  />
  <div class="card-content">
    <h2>
      {{ profileQuestion.question }}
    </h2>
    <p>
      {{ profileQuestion.answer }}
    </p>
  </div>
</div>
