<app-footballer-list></app-footballer-list>
<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Goals
      </th>
      <th>
        Assists
      </th>
      <th>
        Team
      </th>
      <th>
        Goat?
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let footballer of footballers; let i = index;" 
    [ngClass]="{'goat-bool': footballer.isGoat}">
      <td>
        {{footballer.name}}
      </td>
      <td>
        {{footballer.goals}}
      </td>
      <td>
        {{footballer.assists}}
      </td>
      <td>
        {{footballer.team}}
      </td>
      <td>
        {{footballer.isGoat}}
      </td>
    </tr> 
  </tbody>
</table>