.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-card {
    background-color: palevioletred;
    width: 35%;
    height: 24rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

