<h1 class="title">Application Form</h1>

<form (ngSubmit)="handleSubmit()">
  <div>
    <label>First Name: </label>
    <input type="text" (ngModel)="user.firstName" name="firstName" /> --
    <label>Last Name: </label>
    <input type="text" (ngModel)="user.lastName" name="firstName" />
  </div> <br>
  <div>
    <label>Height (ft/inch): </label>
    <input type="text" (ngModel)="user.height" name="firstName" /> --
    <label>Town/City: </label>
    <input type="text" (ngModel)="user.city" name="firstName" />
  </div> <br>
  <div>
    <label>Education Level: </label>
    <input type="text" (ngModel)="user.educationLevel" name="firstName" /> --
    <label>Occupation:  </label>
    <input type="text" (ngModel)="user.occupation" name="firstName" />
  </div> <br>
  <div>
    <label>Bangladesh Address (Gram/Bazar): </label>
    <input type="text" (ngModel)="user.bangladeshAddress" name="firstName" />
  </div> <br>
  <div>
    <label>Personal Statement (250 words max): </label>
  </div>
  <div>
    <textarea class="textbox" type="textarea" (ngModel)="user.description" name="firstName"></textarea>
  </div><br>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
<p>Plan:</p>
<p>if user likes the profile/ pictures, they are able to apply 
  and send their wali's contact details (can be email or phone number), who is then
able to send pics blablablaa or give them option to upload their own cv</p>