USE [master]
GO
/****** Object:  Database [770]    Script Date: 12/04/2007 15:58:49 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'770')
DROP DATABASE [770]

/****** Object:  Database [770]    Script Date: 12/04/2007 15:46:36 ******/
CREATE DATABASE [770]
GO
--EXEC dbo.sp_dbcmptlevel @dbname=N'770' --@new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [770].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO

USE [770]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 12/04/2007 15:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[RegNumber] [nvarchar](50) NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[RegistrationDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

USE [770]
GO
/****** Object:  StoredProcedure [dbo].[usp_CarInsert]    Script Date: 12/04/2007 15:55:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CarInsert] 
	@CarID int = null output,
	@RegNumber nvarchar(10),
	@Make nvarchar(50),
	@Model nvarchar(50),
	@RegistrationDate smalldatetime
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO Car (RegNumber, Make, Model, RegistrationDate)
	VALUES (@RegNumber, @Make, @Model, @RegistrationDate)

	SELECT @CarID = SCOPE_IDENTITY()

END

GO
/****** Object:  StoredProcedure [dbo].[usp_CarList]    Script Date: 12/04/2007 15:55:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CarList]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT	CarID, RegNumber, Make, Model, RegistrationDate
	FROM	Car
END
