<div class="row justify-content-center mt-5">
    <div class="col text-center">
        <div class="card mx-auto" id="booking-card">
            <img src="https://www.visithorsham.co.uk/media/images/heros/hero_horsham_taxi_coop4.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h1 class="card-title">Book a Taxi with Us</h1>
                <h5 class="card-text">If you would like to book a taxi with us online, then click the button below or
                    alternatively, you can call us at 0741299023</h5>
                <a href="booking-page" class="btn btn-primary">Book Now</a>
            </div>
        </div>
    </div>
</div>

<div id="container" class="container w-50 mt-5">
    <div class="row justify-content-center">
        <div class="col text-center mb-3 mt-5">
            <h1>Contact Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col text-center">
            <p>
                If you have any queries then drop us a message and we will aim to answer you as soon as possible
            </p>
        </div>
    </div>
    <form>
        <div class="row justify-content-center mb-3">
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label">First Name(s): </label>
                    <input class="form-control" type="text" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label class="form-label">Surname: </label>
                    <input class="form-control" type="text" />
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-8">
                <div class="form-group">
                    <label class="form-label">Email: </label>
                    <input class="form-control" type="text" />
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-8">
                <div class="form-group">
                    <label class="form-label">Message: </label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-4 text-center">
                <input class="btn btn-primary" type="submit" />
            </div>
        </div>
    </form>
</div>