<mat-card>
    <mat-card-header class="header">
        <h1>
            Welcome To JAJ Taxi
        </h1>
    </mat-card-header>
    <mat-card-content layout="row" fxLayoutAlign="center">
        <div class="flexbox-parent" layout="row" layout-align="center" >
            <button [routerLink]="'/book-now'" class="btn" mat-raised-button style="margin-top: 5%;margin-right: 8%; margin-left: 18%">
                Book Now
            </button>
            <button class="btn" mat-raised-button style="margin-right: 8%;">Pricing</button>
            <button class="btn" mat-raised-button style="margin-right: 8%;">About Us</button> 
            <button class="btn" mat-raised-button style="margin-right: 8%;">Contact Us</button>
        </div>

    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>